html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a{
    text-decoration: none;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Roboto', sans-serif;
    /* position: relative; */
    background-color: rgb(255, 255, 255);
}
.head{
    /* position: relative; */
    /* position: sticky; */
    top: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
}
.head-div{
    position: relative;
    width: 100%;
    height: 90px;
    columns: #fff;
}
.logo{
    position: absolute;
    top: 15%;
    left: 25px;
}
.navigation{
    position: absolute;
    top: 27%;
    right: 50px;
}
.navigation ul{
    display: flex;
}
.navigation ul li {
    margin-left: 30px;
}
.btn{
    padding: 8px 16px;
    background-color: rgb(1, 103, 103);
    border-radius: 10px;
    
}
.btn:hover{
    background-color: black;
    
}
.link{
    color: #fff;
    font-size: 30px;
    transition: color 0.5s linear;
}
.imagediv{
    background-image: url(../images/360_F_434458653_dMDMTN1VpeBxEHuOtlS0esEztiSVVQ9y.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.6; */
    padding: 100px;
    display: flexbox;
    
}
.left{
    width: 50%;
}

.title-text{
    font-size: 90px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 100px;
}
.login-button{
    padding: 8px 16px;
    background-color: rgb(1, 103, 103);
    width: 300px;
    text-align: center;
    border-radius: 10px;
    
}
.login-link{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    transition: color 0.5s linear;
}
.login-button:hover{
    background-color: black;
    
}
.container{
    /* background-color: rgb(198, 254, 235); */
    padding: 50px 200px 50px;
    
    
    
}
.html-img{
    float: left;
    height: 200px;
}
.main-text{
    font-size: 30px;
}
.text{
    display: flex;
    justify-content: center;
}
.right-img{
    width: 20%;
    margin-left: 20px;
    position: relative;
}
.left-text{
    width: 80%;
    margin-right: 20px;
    
}
.img-tree{
    float: right;
    height: 200px;
}
.img-1{
    position: absolute;
    top: 34px;
    left: 14px;
}
.img-2{
    position: absolute;
    height: 200px;
    top: 270px;
    right: 46px;
    z-index: 10;
}
.img-3{
    position: absolute;
    top: 74px;
    left: 200px;
}
/* /////LOGIN/////// */
.login-container{
    background-color: rgb(193, 255, 234);
    padding: 50px 200px 50px;
    
    text-align: center;
    
}
h1 {
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 50px;
}
.block-form{
    display: flex;
}
.right{
    width: 50%;
    margin-left: 20px;
 

}
.left{
    width: 50%;
    margin-right: 20px;
    
}
.login-img{
    height: 200px;
    border-radius: 100px;
}
.input-text{
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 20px;
    width: 70%;
}
label{
    font-size: 30px;
    font-weight: 700;
}
.sex-label,
.rules-label{
    font-size: 20px;
    font-weight: 400;
}

.age{
    padding-top: 20px;
}
#age{
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 5px 10px 20px;
}
input[type="submit"],
input[type="reset"]{

    border-radius:30px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:#3f93ff;
    border:none;
    color:white;
    margin-top:20px;
}


/* //////SIGNUP//////////// */
.signup-container{
    background-color: rgb(225, 164, 255);
    padding: 50px 200px ;
    text-align: center;
    
}




/* ///////////FEEDBACK///////////// */

.feedback-container{
    padding: 50px 200px 0;
    text-align: center;
    background-color: #b9d8ff;
}

.block-feedback{
    display: flex;
}
.feedback-right{
    width: 50%;
    margin-left: 20px;
}
.feedback-left{
    width: 50%;
    margin-right: 20px;
}

footer{
    background-color: #9effc0;
}
.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;  
}
.footer-list-item{
    line-height: 80px;
    margin-right: 80px;
}
.footer-list-item:last-child{
    margin-right:0;
}
.footer-list-item a, span{
    color: #000;
    text-decoration: none;
}
